<body>
    <app-nav-bar></app-nav-bar>
    <section class="top-title-section">
        <h1> Plus concrètement, quelles sont les 
            composantes du Marketing Automation ?
        </h1>
    </section>

    <section class="definitions">

        <h2> Quelques définitions :</h2>

        <div class="all-definitions">
            <div>
                <b>Segmentation des prospects :</b> Classer 
                l’ensemble de ses prospects en différentes 
                catégories selon différents critères 
                (besoins, comportements d’achats par exemple).
            </div>
            <div>
                <b>Lead Scoring :</b> le lead scoring permet d’attribuer 
                un certain nombre de points à vos prospects 
                en fonction de leurs interactions et de leur 
                position dans leur parcours d’achat. 
                (exemple : un lead qui visite votre site web se 
                verra attribuer 10 points)
            </div>
            <div> 
                <b>Lead Nurturing :</b> Grâce à la segmentation 
                des prospects et au lead scoring, le 
                lead nurturing permet d’attribuer le 
                bon message de vente, au bon moment et à 
                la bonne personne, en fonction de son 
                besoin et de sa maturation, dans le but 
                de le convertir en client.
                <br>
                En outre, votre prospect ressent cette 
                personnalisation et il est forcément 
                susceptible de passer à l’action rapidement 
                pour acheter votre produit.
            </div>
            <div>
                <b>Reporting :</b> En utilisant des outils de 
                reporting, vous disposez d'une source 
                d'information fiable, en continu, sur 
                vos prospects et vos clients, ainsi que 
                sur leurs motivations et sur les types 
                de contenus qu'ils préfèrent.
                <br>
                L’ensemble de ces datas vous permettent 
                aussi d’améliorer votre offre, vos campagnes 
                et/ou votre produit.
            </div>
            <div>
                <b>Workflows :</b> Un workflow est une suite 
                d’actions techniques automatisées permettant 
                d’effectuer des tâches selon vos scénarios 
                et vos objectifs.
                <br>
                Vous pouvez donc adapter vos workflows 
                selon vos besoins et vos objectifs.

            </div>
        </div>
    </section>

    <section class="automate-schema">

        <h2>
            Le pouvoir du Marketing Automation
        </h2>

        <div class="schema">

            <div> 
                <img src="../../../../assets/img/blog/workflow-client.png" alt="">
            </div>
            
            <div>
                <h3>Automatiser vous redonne du temps</h3>
                <p>
                    Facilitez la gestion de vos campagnes 
                    marketing. Configurez une série de 
                    Welcome avec l'automatisation des 
                    e-mails, segmentez vos contacts ou 
                    utilisez des workflows d'automatisation 
                    simples pour gagner du temps et de 
                    l'argent.
                </p>
            </div>

        </div>

        <a class="btn-workflow btn-automate-page" href="https://calendly.com/flow-meeting/meeting-strategique?month=2022-10" target="_blank"> Je me lance !</a>

    </section>

    <!-- Start - footer --> 

    <app-footer></app-footer>
    
    <!-- ENd - footer --> 



</body>